.footer__menu-link {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 1;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer__menu-link:hover {
  opacity: 0.8;
}
