.page {
    width: 100%;
    margin: 0;
    background: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

