@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  padding-top: 56px;
  max-width: calc(100% - 296px);
  width: calc(100% - 296px);
}

@media screen and (max-width: 1050px) {
  .lead {
    padding-top: 48px;
    max-width: calc(100% - 96px);
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 800px) {
  .lead {
    padding-top: 48px;
    max-width: 100%;
    width: 100%;
  }
}
