.lead__title {
  max-width: 720px;
  max-height: 200px;
  margin: 0;
  padding-top: 48px;
  font-family: Inter;
  font-style: normal;
  font-weight: 1;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    padding-top: 56px;
  }
}

