.intro__list-item {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  max-width: 690px;
}

@media screen and (max-width: 720px) {
  .intro__list-item {
    max-width: 720px;
  }
}
