@import url('./__box/cover__box.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');

.cover {
  margin: 0 auto;
  min-height: 740px;
  max-width: calc(100% - 96px);
  width: calc(100% - 96px);
  background-image: url('../../images/cover/cover-trains.jpg');
  background-size: cover;
  text-decoration: none;
}

.cover:link {
  color: #FFFFFF;
}

.cover:visited {
  color: #FFFFFF;
}

@media screen and (max-width: 1050px) {
  .cover {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
