.place__url {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 1;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media screen and (max-width: 800px) {
  .place__url {
    line-height: 12px;
  }
}
