.intro__title {
  margin: 0;
  max-width: 690px;
  width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 800px) {
  .intro__title {
    max-width: 720px;
    width: 720px;
  }
}

@media screen and (max-width: 400px) {
  .intro__title {
    max-width: 288px;
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
